@charset "UTF-8";

/*Estilo Global*/
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    /*height: 100%;*/
}

body{

    background-image: linear-gradient(to right, #F1D8C9, #F2C3A2);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 113, 113);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(170, 111, 2);
}

h2{
    color: rgba(5, 5, 245, 0.829);
}
p{
    text-align: justify;
}